<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://tp3.sinaimg.cn/1595142730/50/5691224157/1</string>
		<key>name</key>
		<string>G-SHOCK</string>
		<key>content</key>
		<string>有时候你会责怪自己为什么会爱上一个这么不会心疼人的人，但想了想你明白了，因为他是摩羯座啊。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/5f13f24ajw1f2hc1r6j47j20dc0dc0t4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTISQicZMJtlgyX4axEJ3dDYopG5rl2ylMUQ0IzCrXgEpLxOYv9xGrL4UW7d1vvTv2N4jVJTqzqbYyQ/0</string>
		<key>name</key>
		<string>型格志style</string>
		<key>content</key>
		<string>春天卫衣的正确打开方式~</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/006gWxKPgw1f2jeloxwhnj30fu0g0ta5.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/006gWxKPgw1f2jelpn9bdj30b40gkgmh.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/006gWxKPgw1f2jelriw1bj30fz0g175g.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/006gWxKPgw1f2jelt1kh5j30b10gmt9o.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/006gWxKPgw1f2jeluxjcrj30fw0fz0tx.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/006gWxKPgw1f2jelzxngwj30b20godgn.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/006gWxKPgw1f2jelwmsoej30fx0fywfq.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/006gWxKPgw1f2jem32ccrj30xm0sdwjt.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/006gWxKPgw1f2jelyhutwj30fz0fxwfr.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>https://wx.qlogo.cn/mmopen/vi_32/bGdN0JXPmS9UXicdRLQzVsXVNw7FqpM0a1BHgibTdzfM3NicXiaCSKsjKuThEjX0HibEAMdfBz9Zjobu5c2Q3l0icpZw/0</string>
		<key>name</key>
		<string>SIZE潮流生活</string>
		<key>content</key>
		<string>近日[心][心][心][心][心][心][face]，adidas Originals为经典鞋款Stan Smith打造Primeknit版本，并带来全新的“OG”系列。简约的鞋身采用白色透气Primeknit针织材质制作，再将Stan Smith代表性的绿、红、深蓝三个元年色调融入到鞋舌和后跟点缀，最后搭载上米白色大底来保留其复古风味。据悉该鞋款将在今月登陆全球各大adidas Originals指定店舖。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/6d0bb361gw1f2jim2hgxij20lo0egwgc.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKW0oAyZXzLvSYOEqveMWlSliaKQz3ORnOs5LbzsHYuz6Owj8vfu6gPWCygo5Iv8K7dGKetKZBt7ew/0</string>
		<key>name</key>
		<string>步行天下</string>
		<key>content</key>
		<string>并带来全新的“OG”系列。简约的鞋身采用白色透气Primeknit针织材质制作，再将Stan Smith代表性的绿、红、深蓝三个元年色调融入到鞋舌和后跟点缀，最后搭载上米白色大底来保留其复古风味。据悉该鞋款将在今月登陆全球各大adidas Originals指定店舖。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/5f13f24ajw1f2hc1r6j47j20dc0dc0t4.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/6d0bb361gw1f2jim2hsg6j20lo0egwg2.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/6d0bb361gw1f2jim2d7nfj20lo0eg40q.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/6d0bb361gw1f2jim2hka3j20lo0egdhw.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/6d0bb361gw1f2jim2hq61j20lo0eg769.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp1.sinaimg.cn/1618051664/50/5735009977/0</string>
		<key>name</key>
		<string>头条新闻</string>
		<key>content</key>
		<string>5月31日，在深圳大运中心体育馆的小米8发布会可能是小米发布会持续时间最长的一次，算上MIUI10，小米这次一共发布了五款产品，小米8，小米8se，小米8透明探索版，小米手环3，小米VR一体机。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/60718250jw1f2jg46smtmj20go0go77r.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/c2719308gw1f2hav54htyj20dj0l00uk.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/c2719308gw1f2hav47jn7j20dj0j341h.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/5f13f24ajw1f2hc1r6j47j20dc0dc0t4.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/65ce163bjw1f2jdl2ao77j20ci0gojsw.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp2.sinaimg.cn/2185608961/50/5714822219/0</string>
		<key>name</key>
		<string>妖妖小精</string>
		<key>content</key>
		<string>#万象# 【熊孩子！4名小学生铁轨上设障碍物逼停火车】4名小学生打赌，1人认为火车会将石头碾成粉末，其余3人不信，认为只会碾碎，于是他们将道碴摆放在铁轨上。火车司机发现前方不远处的铁轨上，摆放了影响行车安全的障碍物，于是紧急采取制动，列车中途停车13分钟。O4名学生铁轨上设障碍物逼停火车#waynezxcv# nice</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww3.sinaimg.cn/mw690/8245bf01jw1f2jhh2ohanj20jg0yk418.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/8245bf01jw1f2jhh34q9rj20jg0px77y.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/8245bf01jw1f2jhh3grfwj20jg0pxn13.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/8245bf01jw1f2jhh3ttm6j20jg0el76g.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/8245bf01jw1f2jhh43riaj20jg0pxado.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/8245bf01jw1f2jhh4mutgj20jg0ly0xt.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/8245bf01jw1f2jhh4vc7pj20jg0px41m.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/8245bf01jw1f2jhh2mgkgj20jg0pxn2z.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp4.sinaimg.cn/5074408479/50/5706839595/0</string>
		<key>name</key>
		<string>Instagram热门</string>
		<key>content</key>
		<string>初次见到水瓶座的人，你不会有太多好感，但见了两三次之后你就会被他们强大的魅力所吸引住。未完待续中。。。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww1.sinaimg.cn/mw690/005xpHs3gw1f2jg132p3nj309u0goq62.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/005xpHs3gw1f2jg14per3j30b40ctmzp.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/005xpHs3gw1f2jg14vtjjj30b40b4q5m.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/005xpHs3gw1f2jg15amskj30b40f1408.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/005xpHs3gw1f2jg16f8vnj30b40g4q4q.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/005xpHs3gw1f2jg178dxdj30am0gowgv.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/005xpHs3gw1f2jg17c5urj30b40ghjto.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/005xpHs3gw1f2jg18p02pj30b40fdmz4.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp1.sinaimg.cn/3262223112/50/5684307907/1</string>
		<key>name</key>
		<string>Kindle中国</string>
		<key>content</key>
		<string>金牛座就是那种相处得越久就越有感觉的人，但是这种感觉慢慢地就会夹杂很多复杂的感情，并不一定是当初那种好感了。金牛座的人太固执，又爱面子，而且自尊心超级强，如果你俩吵架了，他肯定不会主动来找你求和的，如果你也不找他，那么你们两个就会一直僵持下去，你对他真是爱恨交加</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/c2719308gw1f2hav54htyj20dj0l00uk.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/c2719308gw1f2hav47jn7j20dj0j341h.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp1.sinaimg.cn/1726544024/50/5630520790/1</string>
		<key>name</key>
		<string>数字尾巴</string>
		<key>content</key>
		<string>外媒 AndroidAuthority 日前曝光诺基亚首款回归作品 NOKIA A1 的渲染图，手机的外形很 N 记，边框控制的不错。这是一款纯正的 Android 机型，传闻手机将采用 5.5 英寸 1080P 屏幕，搭载骁龙 652，Android 6.0 系统，并使用了诺基亚自家的 Z 启动器，不过具体发表的时间还是未知。尾巴们你会期待吗？</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww3.sinaimg.cn/mw690/66e8f898gw1f2jck6jnckj20go0fwdhb.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp4.sinaimg.cn/1708004923/50/1283204657/0</string>
		<key>name</key>
		<string>欧美街拍XOXO</string>
		<key>content</key>
		<string>3.31～4.2 肯豆</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww2.sinaimg.cn/mw690/65ce163bjw1f2jdkd2hgjj20cj0gota8.jpg</string>
			<string>http://ww1.sinaimg.cn/mw690/65ce163bjw1f2jdkjdm96j20bt0gota9.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/65ce163bjw1f2jdl2ao77j20ci0gojsw.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>https://wx.qlogo.cn/mmopen/vi_32/1UV7tTtMTM8hyvGl2YaSVT4EOtHsnaKtDpTFQ7X1hxumRepR9dfXLUCwbkStJIypZJxUtkZ7vRMgf2xpUmD9NQ/0</string>
		<key>name</key>
		<string>风未止</string>
		<key>content</key>
		<string>望断天涯，不见君暖馨，只见一片片枯叶冷梧桐，最是心寒荒凉寄。一室尘埃，染烟雪，谁将残红，榭轻波？一片汪洋终是太茫茫。风凄凄，夜太寒，云落千丈，情太凉，梦落烟花，一场空，一片寥寂，怎呻吟？愁也叹，凉也叹，悲也泣。一杯清酒，醉断魂。残香半烛，灰已尽。青灯半盏，窗前寒。冷梦湿雨，夜半寒。寒心薄凉，情无语。泪落青衣，花台湿。忧伴袈裟，昏做添。篱落眼脸，心生寒。魂断愁云，三千水。舞落纤红，几清欢？得来翰轩，谁点墨？知恋心寄，多少人？踏月随风，研相思入墨，执笔落花，填半卷清词，在花笺掠影中，任思念缱绻，读你千遍，隔着岁月的窗，将眷恋轻描。一程山水，会因一个人而丰盈；一段时光，会因一场相遇而葱茏，清风绕过处，心如素雅的青莲，将一湄如水的清韵，散发出明媚悠远的清宁，尘封住，初识的那一眼凝眸。浅笑离愁，婉转牵绊，就好像悲伤这场盛宴，曾在无数的执念中，写满了太多的泪痕，在流年荒芜的画里，一笑而过，那些缘深缘浅终将缘来缘去，彻悟了思情的逐情，世间并没有天长地久，地老天荒，那些曾一段华丽的对望，是悲伤里浅笑的云卷云舒，花开花落。竹笠芒鞋，走过青石小巷，今生，我只是一个乞丐，亦是一个苦行的高僧，在生命的雨巷，向你乞讨，你能否施舍给我，一点尘缘，一个深情的回眸。弱水三千只取一瓢，水流，瓢漂，归何处。红尘渡口，我为你摆渡，可你却留恋红尘，只说此梦千年，不会醒。不忘初心，不忘过去的誓言，不离不弃，莫失莫忘。静水流深，沧笙踏歌，如花美眷，只缘感你一回顾，使我常思朝与暮。转身后，一缕幽香远，逝雪浅，春意浓，笑意深。一叶绽放一追寻，一花盛开一世界，一生相思为一人。望断天涯，不见君暖馨，只见一片片枯叶冷梧桐，最是心寒荒凉寄。一室尘埃，染烟雪，谁将残红，榭轻波？一片汪洋终是太茫茫。风凄凄，夜太寒，云落千丈，情太凉，梦落烟花，一场空，一片寥寂，怎呻吟？愁也叹，凉也叹，悲也泣。一杯清酒，醉断魂。残香半烛，灰已尽。青灯半盏，窗前寒。</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww3.sinaimg.cn/mw690/8245bf01jw1f2jhh2ohanj20jg0yk418.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/8245bf01jw1f2jhh34q9rj20jg0px77y.jpg</string>
			<string>http://ww2.sinaimg.cn/mw690/8245bf01jw1f2jhh4mutgj20jg0ly0xt.jpg</string>
			<string>http://ww3.sinaimg.cn/mw690/8245bf01jw1f2jhh4vc7pj20jg0px41m.jpg</string>
			<string>http://ww4.sinaimg.cn/mw690/8245bf01jw1f2jhh2mgkgj20jg0pxn2z.jpg</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://tp2.sinaimg.cn/1642904381/50/5749093752/1</string>
		<key>name</key>
		<string>优酷</string>
		<key>content</key>
		<string>期盼已久的暑假终于来啦，各位小伙伴都有什么打算呢?有没有制定好新的学习计划?或是来一场说走就走的旅行?当然，无论是外出旅行还是努力学习，手没有一台生产力工具怎么行呢?在大部分学生党的概念中，高颜值+高性能的笔记本似乎遥不可及，但实际上五千元左右的预算已经可以买到这样的笔记本啦!下面就让我们一起来看看这些性价比超高的产品吧!</string>
		<key>pictureArray</key>
		<array>
			<string>http://ww1.sinaimg.cn/mw690/61ecbb3dgw1f2jfeqmwskg208w04wwvj.gif</string>
		</array>
	</dict>
</array>
</plist>
